<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Support - Books</title>
  <link rel="stylesheet"  href="../styles/books.css">
  

    

</head>
<body>
    <div id="backgroung_img">
      <img src="./images/books bg.jpg" alt="" />
    </div>

    <section id="books">
        <h2>Books on Mental Health</h2>
        <div class="book-category">
            <h3>General Mental Health</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="../images/book1.jpg" alt="The Body Keeps the Score Cover">
                    <p>Author: Bessel van der Kolk</p>
                       <a href="../../pdf/book1.pdf" target="_blank">Open PDF</a> |
                       <a href="../../pdf/book1.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/BOOKS3.jpg" alt="Bhagavad Gita Cover">
                    <h4>Bhagavad Gita</h4>
                    <p>Author: VED Vyasa</p>
                    <a href="../../pdf/book3.pdf" target="_blank">Open PDF</a> |
                    <a href="../../pdf/book3.pdf"download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/BOOK2.jpg" alt="The Almanack of Naval Ravikant Cover">
                    <h4>The Almanack of Naval Ravikant</h4>
                    <p>Author: Eric Jorgenson</p>
                    <a href="../../pdf/book1.pdf" target="_blank">Open PDF</a> |
                    <a href="../../pdf/book1.pdf"download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book4.jpg" alt="It's All in Your Head Cover">
                    <h4>It's All in Your Head</h4>
                    <p>Author: Manjiri Indurkar</p>
                    <a href="../../pdf/book1.pdf" target="_blank">Open PDF</a> |
                    <a href="../../pdf/book1.pdf"download>Download PDF</a>
                </div>
            </div>
        </div>
        <div class="book-category">
            <h3>Self-Help and Motivation</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="../images/book5.jpeg" alt="Life’s Amazing Secrets Cover">
                    <h4>Life’s Amazing Secrets</h4>
                    <p>Author: Gaur Gopal Das</p>
                    <a href="../../pdf/book1.pdf" target="_blank">Open PDF</a> |
                    <a href="../../pdf/book1.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book6.jpeg" alt="The Secret Cover">
                    <h4>The Secret</h4>
                    <p>Author: Rhonda Byrne</p>
                    <a href="./pdfs/The_Secret.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/The_Secret.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book7.jpg" alt="Ikigai Cover">
                    <h4>Ikigai: The Japanese Secret to a Long and Happy Life</h4>
                    <p>Author: Hector Garcia and Francesc Miralles</p>
                    <a href="./pdfs/Ikigai.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/Ikigai.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book8.jpg" alt="The Power of Now Cover">
                    <h4>The Power of Now: A Guide to Spiritual Enlightenment</h4>
                    <p>Author: Eckhart Tolle</p>
                    <a href="./pdfs/The_Power_of_Now.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/The_Power_of_Now.pdf" download>Download PDF</a>
                </div>
            </div>
        </div>
        <div class="book-category">
            <h3>Mindfulness and Meditation</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="../images/book9.jpg" alt="The Heartfulness Way Cover">
                    <h4>The Heartfulness Way: Heart-Based Meditations for Spiritual Transformation</h4>
                    <p>Author: Kamlesh D. Patel and Joshua Pollock</p>
                    <a href="./pdfs/The_Heartfulness_Way.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/The_Heartfulness_Way.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book10.jpg" alt="Mindfulness Cover">
                    <h4>Mindfulness: A Practical Guide to Finding Peace in a Frantic World</h4>
                    <p>Author: Mark Williams and Danny Penman</p>
                    <a href="./pdfs/Mindfulness.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/Mindfulness.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book11.jpg" alt="The Miracle of Mindfulness Cover">
                    <h4>The Miracle of Mindfulness: An Introduction to the Practice of Meditation</h4>
                    <p>Author: Thich Nhat Hanh</p>
                    <a href="./pdfs/The_Miracle_of_Mindfulness.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/The_Miracle_of_Mindfulness.pdf" download>Download PDF</a>
                </div>
                <div class="book-item">
                    <img src="../images/book13.jpg" alt="Radical Acceptance Cover">
                    <h4>Radical Acceptance: Embracing Your Life With the Heart of a Buddha</h4>
                    <p>Author: Tara Brach</p>
                    <a href="./pdfs/Radical_Acceptance.pdf" target="_blank">Open PDF</a> |
                    <a href="./pdfs/Radical_Acceptance.pdf" download>Download PDF</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
