<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Mindspace</title>
    <link rel="stylesheet" href="./styles/km.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau&display=swap" rel="stylesheet">
</head>
<body>
    <div id="bckgrndimg">

        {{!-- <img src="NSS (7).png" alt=""> --}}
        <img src="./images/NSS (7).png" alt="">

    </div>
    <div id="whowe">
        <div><h1>ABOUT</h1>
        <p> MINDSPACE - is a social media platform dedicated for promoting mental health and wellbeing. We understand
            that social media can have a significant impact on people's mental health, and unfortunately, it's not
            always a positive one. With our platform, we aim to create a safe space where individuals can connect, share
            their experiences, and find support from others who may be going through similar struggles. We believe that
            mental health is an essential part of overall health and wellbeing, and it should be given the same
            importance as physical health. Through our platform, we hope to break down the stigma surrounding mental
            health by providing a supportive and inclusive community. Our platform will offer a range of features,
            including forums for discussion, access to mental health resources, and tools to connect with mental health
            professionals. we are dedicated to ensuring the safety and privacy of our users. We will be implementing
            measures to protect users' personal information and prevent any negative interactions that may occur. We are
            committed to creating a positive and uplifting environment for everyone who joins our platform.
        </p>
        </div>
        <div id="namastepic">
            {{!-- <img src="wb.png" alt=""> --}}
            <img src="./images/wb.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="box">
            <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
            <div class="content">
                <h3 style="align-content: center;">&nbsp;Peer and Professional Support</h3>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fa fa-paint-brush" aria-hidden="true"></i></i></div>
            <div class="content">
                <h3>Personalised Recommendations</h3>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fa fa-heartbeat" aria-hidden="true"></i></div>
            <div class="content">
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Self-care Resources</h3>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div id="lastlogo">
            <img src="./images/india.png" alt="" class="india">
            <img src="./images/fb.png" alt="" class ="fb">
            <img src="./images/insta.png" alt="" class="insta">
            <img src="./images/mail.png" alt="" class="mail">
            <img src="./images/twitter.png" alt="" class="twitter">
        </div>
        <div id="footcontents">
            <ul class="footactivities">
                <li class="foot"><a href="last">Copyright © 2023 Mindspace. All rights reserved. Privacy / Terms of
                        Use / Cookie preferences / Do not sell or share my personal information</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>