<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MINDSPACE☮️</title>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- style css -->
    <link rel="stylesheet" href="./styles/landingPage.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="container">
        <h2 class="logo">MINDSPACE☮️</h2>
        <div class="search-bar">
          <i class="bx bx-search-alt-2"></i>
          <input
            type="search"
            placeholder="search for mentors and help seakers"
          />
        </div>
        <div class="create">
          <label class="btn btn-primary" for="create-for-post">Create</label>
          <div class="profile-picture">
            <img src="./images/para.jpg" alt="" />
          </div>
        </div>
      </div>
    </nav>

    <!-- main div -->
    <main>
      <div class="container">
        <!-- left side -->
        <div class="left">
          <a href="" class="profile">
            <div class="profile-picture">
              <img src="./images/para.jpg" alt="" />
              {{!-- <img src="./images/para.jpg" alt="" /> --}}
            </div>
            <div class="handle">
              <h4 class="primary">Paraji_69</h4>
              <p class="text-muted">para@gmail.com</p>
            </div>
          </a>

          <!-- left side-bar -->
          <div class="sidebar">
            <a class="menu-item active">
              <span><i class="bx bx-home"></i></span>
              <h3>Home</h3>
            </a>
            <a class="menu-item">
              <span><i class="bx bx-compass"></i></span>
              <h3>Explore</h3>
            </a>
            <a class="menu-item" id="notifications">
              <span
                ><i class="bx bx-bell">
                  <small class="notification-count">9+</small>
                </i></span
              >

              <h3>Notification</h3>
              
              <div class="notification-popup">
                <div>
                  <div class="profile-picture">
                    <img src="./images/dhruv.jpg" alt="" />
                    {{!-- <img src="./images/dhruv.jpg" alt="" /> --}}
                  </div>
                  <div class="notification-body">
                    <b>Dhruv Dhapate</b> accepted your friend request
                    <small class="text-muted"> 2 DAYS AGO</small>
                  </div>
                </div>

                <!-- second -->
                <div>
                  <div class="profile-picture">
                    <img src="./images/sayali.jpg" alt="" />
                    {{!-- <img src="./images/sayali.jpg" alt="" /> --}}
                  </div>
                  <div class="notification-body">
                    <b>Sayali Deshpande</b> sent you a friend request
                    <small class="text-muted"> 1 HOUR AGO</small>
                  </div>
                </div>
                <!-- third -->
                <div>
                  <div class="profile-picture">
                    <img src="./images/kanak.jpg" alt="" />
                  </div>
                  <div class="notification-body">
                    <b>Kanak Gambhirrao</b> and<b> 280 others</b> liked a
                    post<small class="text-muted"> 4 MINUTE AGO </small>
                  </div>
                </div>
                <!-- fourth -->
                <div>
                  <div class="profile-picture">
                    <img src="./images/anoop.jpg" alt="" />
                  </div>
                  <div class="notification-body">
                    <b>Anoop Lanjekar</b> accepted your friend request<small
                      class="text-muted"
                    >
                      2 days ago</small
                    >
                  </div>
                </div>
                <!-- fifth -->
                <div>
                  <div class="profile-picture">
                    <img src="./images/yash2.jpg" alt="" />
                  </div>
                  <div class="notification-body">
                    <b>Yash Katolkar</b> commented on the post you are
                    tagged<small class="text-muted"> 2 DAYS AGO</small>
                  </div>
                </div>
                <!-- sixth -->
                <div>
                  <div class="profile-picture">
                    <img src="./images/sanket.jpg" alt="" />
                  </div>
                  <div class="notification-body" id="notification">
                    <b>Sanket Dongare</b> commented on the post you are
                    tagged<small class="text-muted"> 1 HOUR AGO</small>
                  </div>
                </div>
              </div>
            </a>

            <!-- ending here -->

            <a class="menu-item" id="messages-notification">
              <span
                ><i class="bx bx-envelope">
                  <small class="notification-count">6</small>
                </i></span
              >

              <h3>Message</h3>
            </a>
            <a class="menu-item">
              <span><i class="bx bx-bookmark"></i></span>
              <h3>Bookmarks</h3>
            </a>
            <a class="menu-item">
              <span><i class="bx bx-objects-vertical-bottom"></i></span>
              <h3>Analytics</h3>
            </a>
            <a class="menu-item" id="theme">
              <span><i class="bx bx-palette"></i></span>
              <h3>Theme</h3>
            </a>
            <a class="menu-item active">
              <span><i class="bx bx-cog"></i></span>
              <h3>Settings</h3>
            </a>
          </div>
          <label for="create-for-post" class="btn btn-primary"
            >Create Post</label
          >
        </div>

        <!-- middle side -->
        <div class="middle">
          <!-- stories -->
          <div class="stories">
            <div class="story">
              <div class="profile-picture">
                <img src="./images/ravis.jpeg" alt="" />
              </div>
              <p class="name">Shri Shri Ravi Shankar</p>
            </div>
            <div class="story">
              <div class="profile-picture">
                <img src="./images/anjali.jpg" alt="" />
              </div>
              <p class="name">Anjali Chhabria</p>
            </div>
            <div class="story">
              <div class="profile-picture">
                <img src="./images/annac.jpg" alt="" />
              </div>
              <p class="name">Anna Chandy</p>
            </div>
            <div class="story">
              <div class="profile-picture">
                <img src="./images/harish.jpg" alt="" />
              </div>
              <p class="name">Harish Shetty</p>
            </div>
            <div class="story">
              <div class="profile-picture">
                <img src="./images/th (1).jpeg" alt="" />
              </div>
              <p class="name">Vandana Gopikumar</p>
            </div>
            <div class="story">
              <div class="profile-picture">
                <img src="./images/th (3).jpeg" alt="" />
              </div>
              <p class="name">Shelja Sen</p>
            </div>
          </div>
          <!-- --------end of stories-------- -->
          <form class="create-post">
            <div class="profile-picture">
              <img src="./images/para.jpg" alt="" />
            </div>
            <input
              type="text"
              placeholder="What's on your mind,Paraji_69?"
              id="create-post"
            />
            <input type="submit" value="Post" class="btn btn-primary" />
          </form>
          <!----------------------------- Feed ----------------------------->
          <div class="feeds">
            <!--------------- feed 1 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/deepi.jpeg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Deeika Padukone</h3>
                    <small>Mumbai,15 MINUTES AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/deep.png" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-20.jpg" alt="" /></span>
                <span><img src="./images/profile-12.jpg" alt="" /></span>
                <span><img src="./images/kanak.jpg" alt="" /></span>
                <p>
                  Liked by<b> Kanak Gambhirrao</b> and<b> 2,00,532 others</b>
                </p>
              </div>

              <div class="caption">
                <p>
                  <b>Deepika Padukone</b> Project live-love-laugh is back again
                  to bring you an insightful yet very meaningful session on the
                  topic '' Mindfulness for Productivity''. Join us in this
                  session which will be addressed by Ms. Kirti Dixit Ma'am
                  (@kirtiphdcounselor) , who is a psychologist, relationship
                  counsellor and a PhD scholar.
                  <span class="harsh-tag">#livelovelaugh</span>
                </p>
              </div>

              <div class="comments text-muted">View all 233 comments</div>
            </div>
            <!--------------------- End of Feed ---------------->
            <!--------------- feed 2 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/ravis.jpeg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Shri Shri Ravi Shankar</h3>
                    <small>Delhi,22 MINUTES AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/ravi.png" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-1.jpg" alt="" /></span>
                <span><img src="./images/profile-3.jpg" alt="" /></span>
                <span><img src="./images/dhruv.jpg" alt="" /></span>
                <p>Liked by<b> Dhruv Dhapate</b> and<b> 5590 others</b></p>
              </div>

              <!-- <div class="caption">
                <p>
                  <b>Alisia Vereno</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Veritatis, perspiciatis!
                  <span class="harsh-tag">#lifestyle</span>
                </p>
              </div> -->

              <div class="comments text-muted">View all 179 comments</div>
            </div>
            <!--------------------- End of Feed2 ---------------->
            <!--------------- feed 3 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/th (3).jpeg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Dr Shelja Sen</h3>
                    <small>Boston,1 DAY AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/shelja.jpg" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-4.jpg" alt="" /></span>
                <span><img src="./images/profile-1.jpg" alt="" /></span>
                <span><img src="./images/anoop.jpg" alt="" /></span>
                <p>Liked by<b> Anoop Lanjekar</b> and<b> 532 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Dr Shelja Sen</b>Always loved to work with kids. Yet got
                  another chance to indulge myself in them. @childrentrust
                  <span class="harsh-tag">#childrentrust</span>
                </p>
              </div>

              <div class="comments text-muted">View all 16 comments</div>
            </div>
            <!--------------------- End of Feed3 ---------------->
            <!--------------- feed 4 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/annac.jpg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Anna Chandy</h3>
                    <small>Kerala,1 DAY AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/book.jpg" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-5.jpg" alt="" /></span>
                <span><img src="./images/profile-3.jpg" alt="" /></span>
                <span><img src="./images/riya.jpg" alt="" /></span>
                <p>Liked by<b> Riya Bodke</b> and<b> 96,992 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Anna Chandy</b> Joy of being an offering! This whole month
                  I have dedicated to offering myself in whichever way possible.
                  Here is my next offering as a Happiness Coach. It’s another
                  milestone for us.Grateful & blesses to get an opportunity to
                  release the next edition of my series of books - Battles .
                  This one is special to me as I have collaborated with
                  @deepikapadukone who has been an incredible support
                  throughout. Battles in the mind is a book signifying the
                  importance of practicing mental health regularly to stay
                  happy, calm & relaxed. It includes few short techniques to
                  practice mental health & release the negativity. The happier
                  you are, the better you are at work!
                  <!-- <span class="harsh-tag">#lifestyle</span> -->
                </p>
              </div>

              <div class="comments text-muted">View all 1800 comments</div>
            </div>
            <!--------------------- End of Feed4 ---------------->
            <!--------------- feed 5 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/th (3).jpeg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Dr Shelja Sen</h3>
                    <small>Boston,2 DAYS AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/event.jpg" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-11.jpg" alt="" /></span>
                <span><img src="./images/profile-12.jpg" alt="" /></span>
                <span><img src="./images/sanket.jpg" alt="" /></span>
                <p>Liked by<b> Sanket Dongare</b> and<b> 3,532 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Dr Shelja Sen</b> Mental Health and Art Session at
                  Chhatrapati Shivaji Maharaj Park. Thankyou for the cooperation
                  everyone, it was great to talk with the students of
                  @manthan_advertising_school
                  <span class="harsh-tag">#lifestyle</span>
                </p>
              </div>

              <div class="comments text-muted">View all 463 comments</div>
            </div>
            <!--------------------- End of Feed5 ---------------->
            <!--------------- feed 6 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/harish.jpg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Dr. Harish Shetty</h3>
                    <small>Mumbai, 2 DAYS AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/quote.jpg" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-4.jpg" alt="" /></span>
                <span><img src="./images/profile-12.jpg" alt="" /></span>
                <span><img src="./images/yash2.jpg" alt="" /></span>
                <p>Liked by<b> Yash Katolkar</b> and<b> 6,091 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Dr Harish Shetty</b> Happy to share that I have been
                  published in the #adgully magazine
                  <!-- <span class="harsh-tag">#lifestyle</span> -->
                </p>
              </div>

              <div class="comments text-muted">View all 590 comments</div>
            </div>
            <!--------------------- End of Feed6 ---------------->
            <!--------------- feed 7 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/nik.jpeg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Nikhil Taneja</h3>
                    <small>Delhi,2 DAYS AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/th.jpeg" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-2.jpg" alt="" /></span>
                <span><img src="./images/profile-14.jpg" alt="" /></span>
                <span><img src="./images/anoop.jpg" alt="" /></span>
                <p>Liked by<b> Anoop Lanjekar</b> and<b> 890 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Nikhil Taneja</b> We did a thing! This World Mental Health
                  day, we took a timeout for our mental well-being by hosting a
                  session with partnership with Aster CMI for all our Appy
                  Members.
                  <!-- <span class="harsh-tag">#lifestyle</span> -->
                </p>
              </div>

              <div class="comments text-muted">View all 33 comments</div>
            </div>
            <!--------------------- End of Feed7 ---------------->
            <!--------------- feed 8 ------------------->
            <div class="feed">
              <div class="head">
                <div class="user">
                  <div class="profile-picture">
                    <img src="./images/anjali.jpg" alt="" />
                  </div>
                  <div class="ingo">
                    <h3>Anjali Chhabria</h3>
                    <small>Mumbai,2 DAYS AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="bx bx-dots-horizontal-rounded"></i>
                </span>
              </div>

              <div class="photo">
                <img src="./images/maxresdefault.jpg" alt="" />
              </div>

              <div class="action-button">
                <div class="interaction-button">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-message-rounded-dots"></i></span>
                  <span><i class="bx bx-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="bx bx-bookmark"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span><img src="./images/profile-12.jpg" alt="" /></span>
                <span><img src="./images/profile-4.jpg" alt="" /></span>
                <span><img src="./images/sanket.jpg" alt="" /></span>
                <p>Liked by<b>Sanket Dongare</b> and<b> 6005 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Anjali Chhabria</b> Hey...you can confirm your session
                  booking in DM. STay happy, stay healthy.
                  <!-- <span class="harsh-tag">#lifestyle</span> -->
                </p>
              </div>

              <div class="comments text-muted">View all 23 comments</div>
            </div>
            <!--------------------- End of Feed8 ---------------->
          </div>
        </div>
        <!---------------------------- right-side ----------------------------------->
        <div class="right">
          <div class="messages">
            <div class="heading">
              <h4>Messages</h4>
              <i class="bx bxs-edit"></i>
            </div>
            <!-- search bar -->
            <div class="search-bar">
              <i class="bx bx-search-alt-2"></i>
              <input
                type="search"
                placeholder="Search Messages"
                name=""
                id="message-search"
              />
            </div>
            <!-- Message Category -->
            <div class="category">
              <h6 class="active">Primary</h6>
              <h6>General</h6>
              <h6 class="message-requests">Requests(7)</h6>
            </div>
            <!-- Message -->
            <div class="message">
              <div class="profile-picture">
                <img src="./images/awachar.jpg" alt="" />
              </div>
              <div class="message-body">
                <h5>Prathmesh Awachar</h5>
                <p class="text-muted">Just woke up bro</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-picture">
                <img src="./images/siri.jpg" alt="" />
                <div class="active"></div>
              </div>
              <div class="message-body">
                <h5>Shreeraj Shinde</h5>
                <p>Did you came yesterday?</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-picture">
                <img src="./images/shoebu.jpg" alt="" />
              </div>
              <div class="message-body">
                <h5>Shubham Pawar</h5>
                <p>2 new messages</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-picture">
                <img src="./images/rocket.jpg" alt="" />
              </div>
              <div class="message-body">
                <h5>Yash Shirdhone</h5>
                <p>I am tired</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-picture">
                <img src="./images/aditya.jpg" alt="" />
              </div>
              <div class="message-body">
                <h5>Aditya Shinde</h5>
                <p class="text-muted">Chill Bro</p>
              </div>
            </div>
            <div class="message">
              <div class="profile-picture">
                <img src="./images/lok.jpg" alt="" />
                <div class="active"></div>
              </div>
              <div class="message-body">
                <h5>Lokesh Sonawane</h5>
                <p class="text-muted">You did it!</p>
              </div>
            </div>
          </div>
          <!-------------- End of Messages ------------>

          <!------------- Friend Requests --------------------->
          <div class="friend-requests">
            <h4>Requests</h4>
            <div class="request">
              <div class="info">
                <div class="profile-picture">
                  <img src="./images/shal.jpg" alt="" />
                </div>
                <div>
                  <h5>Shalaka Vyawhare</h5>
                  <p class="text-muted">4 mutual friends</p>
                </div>
              </div>
              <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </div>
            </div>
            <!-- second request -->
            <div class="request">
              <div class="info">
                <div class="profile-picture">
                  <img src="./images/gaut.jpg" alt="" />
                </div>
                <div>
                  <h5>Gautami Nivargi</h5>
                  <p class="text-muted">8 mutual friends</p>
                </div>
              </div>
              <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </div>
            </div>
            <!-- third request -->
            <div class="request">
              <div class="info">
                <div class="profile-picture">
                  <img src="./images/sayali.jpg" alt="" />
                </div>
                <div>
                  <h5>Sayali Deshpande</h5>
                  <p class="text-muted">2 mutual friends</p>
                </div>
              </div>
              <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!------------------ theme customization ------------------------>
    <div class="customize-theme">
      <div class="card">
        <h2>Customize your view</h2>
        <p class="text-muted">Manage your font size,color and background</p>

        <!-- font size -->

        <div class="font-size">
          <h4>Font Size</h4>
          <div>
            <h6>Aa</h6>
            <div class="choose-size">
              <span class="font-size-1"></span>
              <span class="font-size-2 active"></span>
              <span class="font-size-3"></span>
              <span class="font-size-4"></span>
              <span class="font-size-5"></span>
            </div>
            <h3>Aa</h3>
          </div>
        </div>

        <!-- primary color -->
        <div class="color">
          <h4>Color</h4>
          <div class="choose-color">
            <span class="color-1 active"></span>
            <span class="color-2"></span>
            <span class="color-3"></span>
            <span class="color-4"></span>
            <span class="color-5"></span>
          </div>
        </div>

        <!-- Background color -->
        <div class="background">
          <h4>Background</h4>
          <div class="choose-bg">
            <div class="bg-1 active">
              <span></span>
              <h5 for="bg-1">Light</h5>
            </div>
            <div class="bg-2">
              <span></span>
              <h5 for="bg-2">Dim</h5>
            </div>
            <div class="bg-3">
              <span></span>
              <h5 for="bg-3">Dark</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <script src="script.js"></script> --}}
    <script src="./scripts/script.js"></script>
  </body>
</html>
