<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Health</title>
    <link rel="stylesheet" href="./styles/signup.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- HEADER -->

    <header class="header">
      <!--  Nav Bar -->

      <nav class="navbar">
        <a href="home">Home</a>
        <a href="quotes">Quotes</a>
      </nav>

      <!-- form -->

      <!-- <form action="#" class="search-bar">
        <input type="text" placeholder="search" />
        <button type="submit"><i class="bx bx-search"></i></button>
      </form> -->
    </header>

    <div class="background"></div>

    <div class="container">
      <div class="content">
        <h2 class="logo">
          <i class="bx bxs-brain"> </i>
          SOULSUPPORT
        </h2>

        <div class="text-sci">
          <h2>Welcome!<br /><span>Mind Space</span></h2>
          <p>A one stop platform to tackle all your mental problems !!</p>

          <div class="social-icons">
            <a href="#">
              <i class="bx bxl-facebook"></i>
            </a>
            <a href="#">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="#">
              <i class="bx bxl-linkedin-square"></i>
            </a>
            <a href="#">
              <i class="bx bxl-twitter"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="logreg-box">
        <div class="form-box login">
          <form action="/signup" method="post">
            <h2>Sign Up</h2>

            <div class="input-box">
              <span class="icon"><i class="bx bxs-user"></i></span>
              <input type="text" name="name" />
              <label>Name</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class="bx bx-envelope"></i></span>
              <input type="text" name="email" />
              <label>Email</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class="bx bx-lock-alt"></i></span>
              <input type="password" name="password" />
              <label>Password</label>
            </div>

            <div class="remember-forget">
              <label><input type="checkbox" />I agree to the terms & conditions</label>
              <!-- <a href="#">Forget Password?</a> -->
            </div>

            <button type="submit" class="btn">Sign Up</button>

            <div class="login-register">
              <p>
                Already have an account?
                <a href="login">Sign In</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>

{{! <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/signup.css" />
    <title>Mind Space</title>
  </head>
  <body>
    <h2>Sign Up</h2>
    <div class="signup">
      <form action="/signup" method="post">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" />
      </form>A
    </div>
  </body>
</html> }}